.chart {
  position: relative;
}
.chart tr {
  position: relative;
  width: 100%;
}
.chart tr::before {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  content: "";
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #000; /* Ajoute une bordure noire de 2px */
  z-index: 2;
}

.chart:last-child tr::before {
  border-bottom: 1px solid #c8c8c8; /* Ajoute une bordure noire de 2px */
}
.chart:last-child tr:first-child::before {
  /* border-bottom: 0px; /* Ajoute une bordure noire de 2px */
}


.chart-container .tv-lightweight-charts .price-axis {
  border: none !important; /* Supprime toute bordure */
}

#tv-attr-logo {
  display: none;
}

.labels-container {
  position: absolute;
  pointer-events: none; /* Empêcher l'interaction avec les étiquettes */
}

.chart-label {
  position: absolute;
  background: #2962FF; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}